<!DOCTYPE html>
<html>
<head>
<title>Placement Guide:Login</title>
<link rel="icon" type="image/x-icon" href="static/logo.ico" />  
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
.jumbotron{
background-color: #f5f5f0
}
body{
 
background-image: url("static/imge3.jpg");
background-repeat: repeat;
}
</style>
</head>
<body>
</br></br>
<div class="container-fluid">

<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-7 container text-center">
	
		<div class="col-md-offset-7">
			<div class="jumbotron">
			<div class="form-login">
				<form action="/login", method="POST">
					<font face="Cooper Black"><label for="uid"><h3>University ID</h3></label></font>
					<input type="text" class="form-control" id="uid" placeholder="enter university id" name="uid" required="required">
					</br>
					<font face="Cooper Black"><label for="pwd"><h3>Password</h3></label></font>
					<input type="password" class="form-control" id="pwd" placeholder="enter password" name="pwd" required="required">
					</br>
					
					{% if error %}<p class=error><font size="3" color="red"> {{ error }} </font>{% endif %}  
					</br>
  					<font face="Cooper Black"><button type="submit" class="btn btn-info">LOGIN</button></font>
  					<font face="Cooper Black"><button type="reset"  class="btn btn-default">RESET</button></font></br></br>
				</form>
				<font face="Cooper Black"><u>Not Registered?</u></font>&nbsp&nbsp&nbsp
				</br></br><font face="Cooper Black"><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">SIGN UP</button></font>
				</br></br>
				</form>
			</div>
            </div>
            
		</div>
        
	</div>

</div>
</div>
</div>
<div id="id01" class="modal w3-animate-zoom">
<script language=javascript>
{% if error1 %}
                                    alert("{{error1}}");
{% endif %} 
                                   </script> 
	<form class="modal-content animate" action="/add_data" id="form" method="POST">
        
    		</br><font color="#220022">
			      &nbsp&nbsp&nbsp<font face="Cooper Black"><label for="name">Name:</label></font>
     		              <input type="text" class="form-control" id="name" placeholder="enter name" name="name" required="required">

                              &nbsp&nbsp&nbsp<font face="Cooper Black"><label for="uid">University ID:</label></font>
       			      <input type="text" class="form-control" id="uid" placeholder="enter university id" name="uid" required="required">

  			      &nbsp&nbsp&nbsp<font face="Cooper Black"><label for="pwd">New Password:</label></font>
        		      <input type="password" class="form-control" id="pwd" placeholder="enter password" name="pwd" required="required">

      			      &nbsp&nbsp&nbsp<font face="Cooper Black"><label for="rpwd">Re-enter Password:</label></font>
            		      <input type="password" class="form-control" id="rpwd" placeholder="re-enter password" name="rpwd" required="required">

  			      &nbsp&nbsp&nbsp<font face="Cooper Black"><label for="phno">Contact No:</label></font>
        		      <input type="text" class="form-control" id="phno" placeholder="Enter Cont act No" name="phno" required="required">

  			      &nbsp&nbsp&nbsp<font face="Cooper Black"><label for="email">E-mail:</label></font>
      			      <input type="text" class="form-control" id="email" placeholder="enter E-mail id" name="email" required="required">
			      </br></br>

		<div class="form-group">
			&nbsp&nbsp&nbsp<font face="Cooper Black"><label for="designation" class="control-label col-xs-3"><b>Destination:</b></label></font>
	        	<div class="col-xs-5">
				<font face="Cooper Black"><select class="form-control" 

name=destination><option>Student</option><option>Faculty</option></select></font>
	        	</div>
	       </div></br>
		</font>
		<div class="clearfix">
  				&nbsp&nbsp&nbsp<font face="Cooper Black"><input type="submit" class="btn btn-info" value="Sign Up" 

></font>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  				&nbsp&nbsp&nbsp<font face="Cooper Black"><input type="reset"  class="btn btn-default" value="Reset"></font></br>
    		</div>	
       
		</form>
</div>

<script >




// Get the modal
var modal = document.getElementById('id01');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>