<html>
<head>
</head>
<body><form class="form-horizontal" action="/tryy" method="POST"  enctype = "multipart/form-data">
    <div class="form-group">


        <label for="NAME" class="control-label col-xs-2"><b>NAME:</b></label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required="required">
        </div>
    </div></br>
<div class="col-xs-offset-5 col-xs-10">
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="reset" class="btn btn-success">Reset</button>
    
</form>
</body>
</html>